<form [formGroup]="newAddRowForm" (submit)="formSubmit()">
  <ng-content></ng-content>
  <mat-form-field appearance="outline">
    <mat-label>Company Name</mat-label>
    <input
      matInput
      formControlName="companyName"
      placeholder="Name of Company"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Company Location</mat-label>
    <input
      (keyup)="onTypeCity($event)"
      type="text"
      matInput
      formControlName="companyLocation"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (city of filteredCities(); track $index) {
      <mat-option
        [value]="city | stringSanitizer"
        (onSelectionChange)="onSelectCity(city)"
      >
        {{ city | stringSanitizer }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select formControlName="positionType">
      @for (positionType of positionTypes(); track positionType) {
      <mat-option [value]="positionType">{{ positionType }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Stacks</mat-label>
    <mat-select multiple formControlName="positionStack">
      @for (positionStack of positionStacks(); track positionStack) {
      <mat-option [value]="positionStack">{{ positionStack }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Applied On</mat-label>
    <mat-select formControlName="applicationPlatform">
      @for (platform of applicationPlatform(); track platform) {
      <mat-option [value]="platform">{{ platform }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date Applied</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="applicationDate"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option>None</mat-option>
      @for (status of statuses(); track status) {
      <mat-option [value]="status">{{ status }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>My Hunch</mat-label>
    <input matInput formControlName="hunch" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Any Notes?</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              formControlName="notes"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="3"></textarea>
  </mat-form-field>
</form>
