<div
  class="charts"
  cdkDropList
  cdkDropListOrientation="mixed"
  (cdkDropListDropped)="onChartDrop($event)"
>
  @for (chart of chartOrder(); track chart) {
    <div class="chart-drag-item" cdkDrag [cdkDragDisabled]="isMobile()">
      @switch (chart) {
        @case ("by-status") {
          <app-by-status-chart />
        }
        @case ("status") {
          <app-status-chart />
        }
        @case ("timeline") {
          <app-timeline-chart />
        }
      }
    </div>
  }
</div>
