@import "../../shared/style/status.scss";
.activity-table-wrapper {
  margin: 0 auto;
  max-width: 85%;
  @media screen and (max-width: 992px) {
    max-width: 100%;
  }
  .outer-table-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    .actions-contiainer {
      position: relative;
      bottom: 8px;
      left: 8px;
      display: flex;
      align-items: center;
      width: 100%;
      .action-buttons {
        display: flex;
        button {
          &:not(:first-child) {
            margin-left: 15px;
          }
          min-width: fit-content;
          border-radius: 0.6em;
          background-color: var(--element2);
        }
        .remove-rows {
          background-color: var(--watermelon);
          color: #faf9fd;
        }
      }
    }
    .search-container {
      position: relative;
      width: 100%;
      right: 8px;
      .search-input {
        width: 100%;
        .mat-mdc-form-field {
          width: 100%;
          .mdc-text-field {
            .mat-mdc-form-field-infix {
              label {
                color: var(--main-element) !important;
              }
            }
          }
        }
      }
    }
  }
  .table-data-displayer {
    height: 100%;
    width: 100%;
    margin: 5vh auto;
    @media screen and (max-width: 992px) {
      margin: 3vh auto;
    }
    .table-container {
      position: relative;
      max-height: 75vh;
      width: 100%;
      box-shadow: none;
      overflow-y: auto;
      .selected {
        background-color: #ff6c8282 !important;
        text-decoration: line-through;
        .combined-cell-content {
          button {
            color: #ffeee7 !important;
          }
        }
      }
      .mat-mdc-table {
        border-radius: 0.6rem;
        min-width: unset;
        width: 100%;
        border: 0;
        table-layout: unset;
        background-color: #1c2536;
        padding: 15px 15px 10px;
        .mat-mdc-header-row {
          position: relative;
          z-index: 3;
          .mat-mdc-header-cell {
            backdrop-filter: blur(8px);
            margin: 0 !important;
            padding: 15px !important;
            z-index: 100;
            height: 5rem;
            font-size: 1.4em;
            border-color: unset;
            color: var(--generic-white);
            font-weight: 600;
            border-bottom-width: 0 !important;
            min-width: 10vw;
            @media screen and (max-width: 992px) {
              font-size: 1.2em;
            }
          }
          .header {
            position: relative;
            display: flex;
            flex-flow: column;
            padding: 0;
            align-items: center;
            bottom: 8px;
            @media screen and (max-width: 992px) {
              bottom: 0;
            }
            margin: auto;

            .sub-header {
              position: absolute;
              display: flex;
              align-items: center;
              bottom: 0;
              top: 40px;
              font-size: medium;
              @media screen and (max-width: 1280px) {
                width: 95%;
              }
              @media screen and (max-width: 992px) {
                width: 100%;
                top: 35px;
              }
              h4 {
                position: relative;
                font-size: 0.9em !important;
                display: flex;
                font-weight: 500;
                padding: 0 25px 0;
                width: 100%;
                @media screen and (max-width: 1280px) {
                  font-size: 0.86em !important;
                }
              }
            }
          }
          .header-checkbox-selection {
            flex-flow: row;
            justify-content: center;
          }
        }
        .mat-mdc-row {
          position: relative;
          border-bottom: 0 !important;
          .mat-mdc-cell {
            color: var(--gray-900);
            position: relative;
            border-top: 0 !important;
            border-color: var(--main-element);
            max-width: 15vw;
            @media screen and (max-width: 1280px) {
              max-width: max-content;
            }
            .combined-cell {
              text-align: center;
              .combined-cell-content {
                button {
                  border-radius: 0.2em;
                  padding: 0;
                  color: #495be3;
                  mat-icon {
                    cursor: pointer;
                    border-radius: 0.1em;
                    color: #faf9fd;
                    background-color: var(--gray-700);
                    &:disabled {
                      color: rgba(191, 191, 191, 0.668);
                      background-color: var(--gray-700);
                    }
                  }
                  &:hover {
                    background-color: #ff6c8280;
                    color: #faf9fd;
                    mat-icon {
                      background-color: var(--watermelon);
                    }
                  }
                }
                @media screen and (max-width: 1280px) {
                  flex-flow: row;
                  align-items: center;
                  margin: 0;
                }
              }
            }
            .cell-control:not(.combined-cell):not(.overflow-cell) {
              height: 85px;
              font-size: medium;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              .status {
                width: 100%;
                font-weight: 600;
              }
              .company {
                :nth-child(1) {
                  font-weight: 600;
                }
              }
              .company,
              .application {
                td {
                  width: 100%;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                }
                @media screen and (min-width: 1280px) {
                  width: 100%;
                }
              }
              @media screen and (max-width: 1280px) {
                min-width: 220px;
                text-align: justify;
              }
              & > div {
                width: 85%;
                display: flex;
                @media screen and (max-width: 1280px) {
                  width: 100%;
                }
                & > * {
                  display: flex;
                  align-items: center;
                  margin: auto;
                }
              }
              .positions {
                display: flex;
                justify-content: center;
                .type {
                  font-weight: 600;
                  display: inline-flex;
                  width: 100%;
                }
                .stacks {
                  border: 2px solid;
                  border-radius: 0.3em;
                  flex-flow: column;
                  height: 65px;
                  align-items: center;
                  min-width: 20%;
                  padding: 0 15px;
                  overflow-y: auto;
                  overflow-x: hidden;
                  position: relative;
                  scrollbar-width: thin;
                  margin-left: 5px;
                  box-shadow: inset 0px 0px 5px -2px;
                  p {
                    margin: auto 0;
                    padding: 5px 0;
                  }
                }
                @media screen and (max-width: 1280px) {
                  width: 85%;
                }
              }
            }
            .overflow-cell {
              height: 65px;
              overflow-y: auto;
              margin: auto;
              padding: 0 10px;
              border: 2px solid;
              border-radius: 0.3em;
              box-shadow: inset 0px 0px 5px -2px;
              font-size: small;
              @media screen and (max-width: 1280px) {
                min-width: 220px;
              }
            }
            .overflow-cell-unflex {
              align-items: unset !important;
              text-align: left;
              @media screen and (max-width: 1280px) {
                min-width: unset;
              }
            }
          }
        }
        @media screen and (max-width: 992px) {
          margin: 10px;
          padding: 0px 15px 10px;
          .mat-mdc-header-cell,
          .mat-mdc-cell {
            padding: 6px;
          }
        }
      }
      @media screen and (max-width: 992px) {
        margin: auto;
      }
      .hidden-scroll {
        overflow: hidden;
      }
    }
    .no-data-div {
      position: relative;
      margin: auto;
      h1 {
        text-align: center;
        color: var(--watermelon);
      }
    }
  }
}
