.activity-table-wrapper {
  position: relative;
  .outer-table-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    .actions-contiainer {
      position: relative;
      bottom: 8px;
      left: 8px;
      display: flex;
      align-items: center;
      width: 100%;
      .action-buttons {
        display: flex;
        button {
          &:not(:first-child) {
            margin-left: 15px;
          }
          min-width: fit-content;
          border-radius: 0.6em;
          background-color: aliceblue;
        }
        .remove-rows {
          background-color: var(--watermelon);
          color: #faf9fd;
        }
      }
    }
    .search-container {
      position: relative;
      width: 100%;
      right: 8px;
      .search-input {
        width: 100%;
        .mat-mdc-form-field {
          width: 100%;
          .mdc-text-field {
            .mat-mdc-form-field-infix {
              label {
                color: #495be3 !important;
              }
            }
          }
        }
      }
    }
  }
  .table-data-displayer {
    min-height: 25vh;
    .table-container {
      position: relative;
      top: 25px;
      max-height: 75vh;
      box-shadow: none;
      overflow-y: auto;
      border-bottom: 1px #495be3 solid;
      .selected {
        background-color: #ff6c8240;
      }
      .mat-mdc-table {
        min-width: unset;
        width: 100%;
        min-height: 75vh;
        border: 0;
        border-spacing: 0;
        table-layout: unset;
        background-color: #faf9fd;
        .mat-mdc-header-row {
          position: relative;
          z-index: 3;
          .mat-mdc-header-cell {
            background-color: #faf9fda9;
            backdrop-filter: blur(8px);
            margin: 0 !important;
            top: 0;
            z-index: 100;
            height: 7rem;
            font-size: 1.6em;
            text-align: center;
            border-color: #495be3;
            color: var(--gray-700);
            font-weight: 600;
            @media screen and (max-width: 992px) {
              font-size: small;
              font-size: 1.2em;
            }
          }
          .header {
            display: flex;
            flex-flow: column;
            padding: 0;
            margin: 0;
            align-items: center;
            .sub-header {
              position: absolute;
              display: flex;
              align-items: center;
              bottom: 0;
              left: 0;
              width: 100%;
              h4 {
                position: relative;
                font-size: 0.6em !important;
                display: flex;
                font-weight: 500;
                margin: 0 auto;
                top: 5px;
              }
            }
          }
          .header-checkbox-selection {
            flex-flow: row;
            justify-content: center;
          }
        }
        .mat-mdc-row {
          border-bottom: 0 !important;
          .mat-mdc-cell {
            color: var(--gray-900);
            position: relative;
            border: 1px solid #495be358;
            max-width: 15vw;
            font-size: 115%;
            .default-cell,
            .split-cell {
              margin: auto;
              display: flex;
              align-items: center;
              text-align: center;
              height: 120px;
              justify-content: center;
            }
            .split-cell {
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              td {
                margin: auto;
              }
            }
            .default-cell {
              max-width: 125px;
            }
            .overflow-cell {
              overflow: auto;
              padding: 5px;
              max-height: 120px;
            }
            @media screen and (max-width: 1280px) {
              min-width: 220px !important;
              .default-cell,
              .split-cell {
                margin: auto !important;
                align-items: center;
                max-width: 250px;
              }
            }
          }
          .combined-cell-td {
            min-width: unset !important;
            width: 50px;
            .combined-cell-div {
              display: flex;
              .combined-cell-content {
                display: flex;
                align-items: center;
                mat-checkbox {
                  margin: auto;
                }
                button {
                  border-radius: 0.2em;
                  padding: 0;
                  mat-icon {
                    cursor: pointer;
                    border-radius: 0.1em;
                    color: #faf9fd;
                    background-color: var(--gray-700);
                    &:disabled {
                      color: rgba(191, 191, 191, 0.668);
                      background-color: var(--gray-700);
                    }
                  }
                  &:hover {
                    background-color: #ff6c8280;
                    color: #faf9fd;
                    mat-icon {
                      background-color: var(--watermelon);
                    }
                  }
                }
                @media screen and (max-width: 1280px) {
                  flex-flow: column;
                  align-items: center;
                  margin: auto;
                }
              }
            }
          }
        }
        @media screen and (max-width: 992px) {
          .mat-mdc-header-cell,
          .mat-mdc-cell {
            padding: 6px;
          }
          @media screen and (max-width: 768px) {
            padding: 0;
          }
        }
      }
      @media screen and (max-width: 992px) {
        margin: auto;
        @media screen and (max-width: 768px) {
        }
      }
      .hidden-scroll {
        overflow: hidden;
      }
    }
    .no-data-div {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      h4 {
        text-align: center;
        color: var(--watermelon);
      }
    }
  }
}
