<div class="activity-table-wrapper" fader>
  <div class="outer-table-container">
    <div class="actions-contiainer">
      <div class="action-buttons">
        <button
          mat-button
          (click)="removeSelectedRows()"
          [disabled]="selection.selected.length < 1"
          [ngClass]="{ 'remove-rows': selection.selected.length > 0 }"
        >
          Remove {{ selection.selected.length }} Rows
        </button>
        <button mat-button (click)="addNewRow()">Add Application</button>
      </div>
    </div>
    <div class="search-container">
      <div class="search-input">
        <mat-form-field appearance="outline">
          <mat-label>
            @if (!isDataExists) { Add Application To Enable Search.. } @else {
            Search in table }
          </mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Anything that starts with..."
            [disabled]="!isDataExists"
            #input
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="table-data-displayer">
    @if (isDataExists) {
    <app-spinner [isSpinner]="localSpinner()" [isActivityTable]="true" />
    <div
      class="table-container mat-elevation-z8"
      [ngClass]="{ 'hidden-scroll': localSpinner }"
    >
      <table
        mat-table
        [dataSource]="dataSource"
        (matSortChange)="sortData($event)"
        matSort
      >
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header header-checkbox-selection">
              Select
              <mat-checkbox
                (change)="$event ? toggleAllRows() : null"
                [checked]="isChecked"
                [indeterminate]="isCheckedNotAll"
              >
              </mat-checkbox>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="cell-control combined-cell">
              <div class="combined-cell-content">
                <mat-checkbox
                  (change)="$event ? onToggleRow(row) : null"
                  [checked]="isSelected(row)"
                >
                </mat-checkbox>
                <button mat-button (click)="editSelectedRow(row)">
                  Edit
                  <mat-icon fontIcon="edit"></mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            <div
              class="header sorting-header"
              matTooltip="Sort by Status"
              matTooltipShowDelay="300"
              matTooltipTouchGestures="off"
              mat-sort-header
            >
              Status
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="cell-control">
              <div class="status">
                <td>{{ row.status }}</td>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header">
              Company
              <div class="sub-header">
                <h4>Name</h4>
                <h4>Location</h4>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="cell-control">
              <div class="company">
                <td>{{ row.companyName }}</td>
                <td>{{ row.companyLocation }}</td>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header">
              Position
              <div class="sub-header">
                <h4>Type</h4>
                <h4>Stack</h4>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="cell-control">
              <div class="positions">
                <td class="type">{{ row.positionType }}</td>
                <td class="stacks">
                  @for (item of row.positionStack; track $index) {
                  <p>{{ item }}</p>
                  }
                </td>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="application">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header">
              Application
              <div class="sub-header">
                <h4>Platform</h4>
                <h4
                  mat-sort-header
                  class="sorting-header"
                  matTooltip="Sort by Date"
                  matTooltipShowDelay="300"
                  matTooltipTouchGestures="off"
                >
                  Applied
                </h4>
              </div>
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="cell-control">
              <div class="application">
                <td>{{ row.applicationPlatform }}</td>
                <td>{{ row.applicationDate | date : "MMM d, y" }}</td>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="hunch">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header">Hunch</div>
          </th>
          <td mat-cell *matCellDef="let row">
            @if(row.hunch){
            <div
              class="cell-control text-cell"
              [ngClass]="{
                'overflow-cell-unflex': isEnoughLength(row.hunch?.length)
              }"
            >
              <td>
                {{ row.hunch }}
              </td>
            </div>
            } @else {
            <div class="cell-control">
              <td>N/A</td>
            </div>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>
            <div class="header">Notes</div>
          </th>
          <td mat-cell *matCellDef="let row">
            @if(row.notes){
            <div class="cell-control overflow-cell">
              <td>
                {{ row.notes }}
              </td>
            </div>
            } @else {
            <div class="cell-control">
              <td>N/A</td>
            </div>
            }
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="rowColorSwitch(row)"
          [class.selected]="isSelected(row)"
        ></tr>
      </table>
    </div>
    } @else {
    <div class="no-data-div">
      <h1>No Data</h1>
    </div>
    }
  </div>
</div>
