.sidebar-container {
  border-radius: 1.5em;
  position: absolute;
  height: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--main-element);
  .sidebar-list {
    display: flex;
    flex-flow: column;
    width: min-content;
    mat-list-item {
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }
}
