# Angular files
/dist/
/.angular/cache/
.out-tsc/

# Build outputs
/tmp/
/bazel-out/
npm-debug.log*
yarn-error.log*

# Node modules
/node_modules/

# Editor and IDE settings
.idea/
/.project
.classpath
.c9/
*.launch
.settings/
/*.sublime-workspace
.vscode/
.history/

# Exceptions for VS Code settings you want to track
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Coverage and testing
/coverage/
/karma-html-reporter/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Optional for localhost artifacts
localhost:4200/

# Ignore temporary artifacts (if using SCSS or similar tools)
/.sass-cache/

# Ignore Bazel build outputs (for projects using Bazel)
/bazel-bin/
/bazel-testlogs/
