.dialog-wrapper {
  width: 100%;
  height: 100%;
  .dialog-div {
    .green-title {
      color: #4eb436;
    }
    .red-title {
      color: #ec1720;
    }
    button {
      margin-top: 15px;
      width: 50%;
    }
    padding: 25px;
    min-width: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;

    .dialog-actions {
      button {
        min-width: 150px;
      }
    }
  }
}
