<section class="dialog-wrapper">
  <div class="dialog-div">
    <div mat-dialog-header class="dialog-header">
      @if (form) {
      <h4>Form</h4>
        <app-form [incomingForm]="form"></app-form>
      } @else {
      <h4
        mat-dialog-title
        [ngClass]="{
          'green-title': isSuccess,
          'red-title': !isSuccess
        }"
      >
        {{ dataType().notification?.title }}
      </h4>
      <!--! Add Notification -->
      }
    </div>
    <div mat-dialog-content class="dialog-content">
      <!-- <p>{{ data.message }}</p> -->
    </div>
    <div mat-dialog-actions class="dialog-actions">
      <button mat-button (click)="closeDialog()">
        @if(isSuccess){
        {{ "Continue" }}
        } @else {
        {{ "Dismiss" }}
        }
      </button>
    </div>
  </div>
</section>
