.dialog-wrapper {
  padding: 25px;
  .dialog-div {
    h4 {
      color: red;
    }
    button {
      margin-top: 15px;
      width: 50%;
    }
    height: 100%;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
}
