.dialog-wrapper {
  width: 100%;
  height: 100%;
  .dialog-div {
    overflow: hidden;
    max-height: 85vh;
    padding: 25px 15px;
    min-width: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    @media screen and (max-width: 1280px) {
      max-height: 90vh;
    }
    .dialog-header {
      .overflow-form {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 75vh;
      }
    }
    .green-title {
      color: #4eb436;
    }
    .red-title {
      color: #ec1720;
    }

    .dialog-actions {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 992px) {
        position: relative;
        bottom: 6px;
        @media screen and (max-width: 768px) {
          bottom: 8px;
        }
      }
      .dialog-actions-button {
        font-size: small;
        margin: 0 15px;
        @media screen and (max-width: 1280px) {
          max-width: 150px;
          font-size: smaller;
          @media screen and (max-width: 992px) {
            max-width: 125px;
            font-size: x-small;
            @media screen and (max-width: 768px) {
              height: min-content;
            }
          }
        }
      }
    }
  }
}
