.chart-generic-container {
  width: 100%;
  min-width: 0;
}

.chart-data,
.chart-no-data {
  margin: 30px;
}
.chart-data {
  position: relative;
  height: 280px;
  canvas {
    border-radius: 0.6rem;
    box-shadow: 0 0 8px -2px #08122680;
  }
  @media screen and (max-width: 992px) {
    max-height: 150px;
    margin: 15px;
  }
}
