.chart-generic-container {
  width: 100%;
  min-width: 0;
}
.chart-data {
  margin: 24px;
}
.chart-data {
  position: relative;
  height: 330px;
  canvas {
    border-radius: 1.2rem;
    box-shadow: 0 0 8px -2px #3c404980;
  }
  @media screen and (max-width: 992px) {
    margin: 0;
    padding: 8px;
  }
}
