.chart-generic-container {
  width: 100%;
  min-width: 0;
}
.chart-data {
  margin: 30px;
}
.chart-data {
  position: relative;
  height: 300px;
  canvas {
    border-radius: 1.2rem;
    box-shadow: 0 0 8px -2px #3c404980;
    padding: 0 12px;
  }
  @media screen and (max-width: 992px) {
    height: auto;
    margin: 12px;
  }
}
