@use "@angular/material" as mat;
@include mat.core();
$client-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  --main-bg: rgb(241, 241, 241);
  --main-element: rgb(8, 18, 38);
  --element2: rgb(255, 238, 231);
  --element3: rgb(210, 212, 254);
  --table-grid: rgb(110, 117, 131);
  --progress-active: rgb(143, 204, 255);
  --progress-non-active: rgb(61, 68, 80);
  --alt-body-text: rgb(253, 255, 254);
  --gray-blue: rgb(186, 194, 240);
  --generic-white: rgb(255, 255, 255);
  --watermelon: rgb(255, 108, 128);
  --mint-green: rgb(117, 255, 156);

  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  // --main-bg: rgb(73, 91, 227);
  // --secondary-bg: rgb(17, 58, 119);
  // --gray-blue: rgb(186, 194, 240);
  // --watermelon: rgb(255, 108, 128);
  // --mint-green: rgb(117, 255, 156);

  // --bright-blue: oklch(51.01% 0.274 263.83);
  // --electric-violet: oklch(53.18% 0.28 296.97);
  // --french-violet: oklch(47.66% 0.246 305.88);
  // --vivid-pink: oklch(69.02% 0.277 332.77);
  // --hot-red: oklch(61.42% 0.238 15.34);
  // --orange-red: oklch(63.32% 0.24 31.68);

  // --gray-900: oklch(19.37% 0.006 300.98);
  // --gray-700: oklch(36.98% 0.014 302.71);
  // --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--main-bg);

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mat.all-component-themes($client-theme);

  // MatSnackBar
  .snack-bar-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    animation: snack-enter both 0.28s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    top: 59%;
    @keyframes snack-enter {
      0% {
        top: 60%;
      }
      100% {
        top: 59%;
      }
    }
  }

  .snack-bar-container.success-login,
  .snack-bar-container.success-register {
    .mdc-snackbar__surface,
    .mat-mdc-snackbar-surface {
      background-color: var(--main-element);
      .mat-mdc-snack-bar-label {
        color: var(--mint-green);
        .mat-mdc-snack-bar-actions {
          display: none;
        }
      }
    }
  }

  .snack-bar-container.error {
    .mdc-snackbar__surface,
    .mat-mdc-snackbar-surface {
      background-color: var(--watermelon);
      .mat-mdc-snack-bar-label {
        color: var(--gray-700);
        .mat-mdc-snack-bar-actions {
          button {
            height: 35px;
            color: var(--element2);
            background-color: var(--gray-700);
          }
        }
      }
    }
  }

  // MatSpinner
  .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--mint-green) !important;
  }

  // MatTable Border
  .mat-mdc-table tbody tr:first-child td:first-child {
    border-top-left-radius: 0.6rem;
  }
  .mat-mdc-table tbody tr:first-child td:last-child {
    border-top-right-radius: 0.6rem;
  }
  .mat-mdc-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.6rem;
  }
  .mat-mdc-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.6rem;
  }
  .mat-sort-header-arrow {
    position: absolute;
    color: #fff;
    right: -15px;
  }
}

.mat-drawer,
.drawer-side,
.mat-drawer-side {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  width: 144px;
  pointer-events: none;
  left: 18px;
  @media screen and (max-width: 1280px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 0;
  }
  &[style*="visibility: hidden"] {
    display: block !important;
    visibility: visible !important;
  }
}
.mat-drawer-opened {
  width: 144px;
  left: 0 !important;
  display: block !important;
  visibility: visible !important;
  pointer-events: all;
  @media screen and (max-width: 1280px) {
    visibility: hidden;
  }
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 5px !important;
}
