.forms-host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  .register-form-container,
  .login-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    form {
      width: 33%;
      .form-wrapper {
        display: flex;
        flex-flow: column;
        .mat-mdc-form-field {
          padding: 6px 0px;
        }
      }
      .buttons-div {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        button {
          font-size: smaller;
          border-radius: 0.8em;
          padding: 0 15px 0;
          height: 35px;
          box-shadow: none;
          transition: all 0.1s ease-in-out !important;
          background-color: rgb(68, 109, 147);
          color: #fff;
          &:disabled {
            background-color: #e3e3e3;
            color: #7a7a7a48;
          }
          &:hover {
            background-color: rgb(106, 170, 231);
          }
        }
      }
      @media screen and (max-width: 1280px) {
        width: 50%;
        @media screen and (max-width: 992px) {
          width: 65%;
          @media screen and (max-width: 768px) {
            width: 85%;
            @media screen and (max-width: 560px) {
              width: 95%;
            }
          }
        }
      }
    }
  }
}

.mat-mdc-select-panel {
  padding: 0 !important;
  .mdc-list-item {
    background-color: #d9e7fc !important;
  }
  .mat-mdc-option-multiple {
    background-color: #d9e7fc !important;
    color: #3b3b3b !important;
  }
  .mdc-list-item--selected {
    background-color: #113a77 !important;
    span {
      color: white !important;
    }
  }
}
