<section class="central-hub-container">
  <div class="outer-left-hub">
    <div class="inner-left-hub-grid">
      <app-cv-counter
        (cta)="genericEmitter.emit()"
        [counter]="centralHubCvCounter"
      ></app-cv-counter>
      <app-status-preview [allStatuses]="status()"></app-status-preview>
      <app-progress-viewer></app-progress-viewer>
    </div>
  </div>
  <div class="outer-right-hub">
    <div class="inner-right-hub-grid">
      <app-positions-list></app-positions-list>
      <app-market-analyst></app-market-analyst>
    </div>
  </div>
</section>
