.central-hub-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  .mat-mdc-tab-body {
    margin: auto;
    .mat-mdc-tab-body-content {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .mat-mdc-tab-header {
    display: none;
  }
  // max-width: 75%;
  // justify-content: space-evenly;
  // align-items: center;
  // margin: auto;
  div {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
  }
  .inner-left-hub-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .inner-right-hub-grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &:nth-child(n) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6em;
  }
}
