.nav-container {
  width: 100%;
  height: 65px;
  display: inline-flex;
  align-items: center;
  background-color: var(--main-bg);
  position: relative;
  z-index: 888;
  .nav-flex-wrapper {
    display: flex;
    width: 85%;
    margin: auto;
    @media screen and (max-width: 992px) {
      width: 95%;
    }
    .routes-wrapper,
    .buttons-wrapper {
      width: 100%;
      margin: auto;
    }
    .routes-wrapper {
      padding: 0;
      display: flex;
      li {
        list-style: none;
        max-width: 150px;
        margin: 0 8px;
        font-weight: 300;
        .active {
          color: var(--main-element);
          font-weight: 500;
        }
        @media screen and (max-width: 768px) {
          transform: scale(0.85);
          margin: 0;
        }
        @media screen and (max-width: 560px) {
          transform: scale(0.78);
        }
        a {
          display: flex;
          padding: 5px;
          justify-content: center;
          cursor: pointer;
          border-radius: 0.2em;
          text-decoration: none;
          color: var(--main-element);
        }
      }
    }
    .buttons-wrapper {
      display: inline-flex;
      width: fit-content;
      justify-content: center;
      align-items: center;
      .mdc-button {
        border-radius: 0.6em !important;
        min-width: 0 !important;
        line-height: 1.2;
        overflow: hidden;
        color: #fff;
        box-shadow: none;
        padding: 0px 12px;
        height: 27px;
        background-color: var(--watermelon);
        margin-right: 8px;
        &:not(:last-child) {
          margin-right: 30px;
          background-color: var(--main-element);
        }
        @media screen and (max-width: 768px) {
          transform: scale(0.85);
          margin-right: 12px;
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
        @media screen and (max-width: 560px) {
          transform: scale(0.85);
        }
      }
    }
  }
}
