@if (isWindowMobile()) {
<nav class="nav-container">
  <div class="nav-control">
    <div class="logo-block">
      <img src="../../../../assets/images/wedevz-logo.png" alt="" />
    </div>
    <div class="routes-wrapper">
      @for (link of navBarLinks; track $index){ @if (link.name) {
      <li>
        <a
          [ngClass]="{ active: isActive(link.route) }"
          [routerLink]="link.route"
        >
          <mat-icon matListIcon>{{ link.icon }}</mat-icon>
        </a>
      </li>
      }}
      <div class="nav-actions">
        <li>
          <a
            [class.active]="isActive('account')"
            (click)="navBarAction('account')"
          >
            <mat-icon matListIcon>account_circle</mat-icon>
          </a>
        </li>
        <li>
          <a (click)="navBarAction('logout')">
            <mat-icon matListIcon>exit_to_app</mat-icon>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>
} @else {
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" opened class="drawer-side">
    <nav class="nav-container">
      <div class="nav-control">
        <div class="logo-block">
          <img src="../../../../assets/images/wedevz-logo.png" alt="" />
        </div>
        <div class="routes-wrapper">
          @for (link of navBarLinks; track $index){ @if (link.name) {
          <li>
            <a
              [ngClass]="{ active: isActive(link.route) }"
              [routerLink]="link.route"
            >
              <mat-icon matListIcon>{{ link.icon }}</mat-icon>
            </a>
          </li>
          } }
          <div class="nav-actions">
            <li>
              <a
                [class.active]="isActive('account')"
                (click)="navBarAction('account')"
              >
                <mat-icon matListIcon>account_circle</mat-icon>
              </a>
            </li>
            <li>
              <a (click)="navBarAction('logout')">
                <mat-icon matListIcon>exit_to_app</mat-icon>
              </a>
            </li>
          </div>
        </div>
      </div>
    </nav>
  </mat-drawer>

  <mat-drawer-content class="drawer-content">
    <a (click)="openDrawer(drawer)" class="toggle-button">
      @if (isDrawerOpened) {
      <mat-icon matTooltip="Close Sidebar">arrow_back_ios</mat-icon>
      } @else {
      <mat-icon matTooltip="Open Sidebar">arrow_forward_ios</mat-icon>
      }
    </a>
  </mat-drawer-content>
</mat-drawer-container>
}
