.nav-container {
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgb(214, 214, 214);
  z-index: 888;
  padding: 0 0.35rem;
  .logo-block {
    max-width: 100%;
    img {
      width: 40px;
      border-radius: 12px;
      margin: 12px 5px;
    }
  }
  .nav-control {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    .routes-wrapper {
      width: min-content;
      display: flex;
      flex-flow: column;
      margin: 0 auto;
      li {
        margin: 2px 0;
        list-style: none;
        font-weight: 300;
        width: 100%;
        .active {
          border-radius: 8px;
          background-color: rgba(39, 29, 58, 0.076);
          font-weight: 500;
          .mat-icon,
          .material-icons {
            color: var(--watermelon);
          }
        }
        @media screen and (max-width: 768px) {
          transform: scale(0.85);
          margin: 0;
        }
        @media screen and (max-width: 560px) {
          transform: scale(0.78);
        }
        a {
          transition: all 0.185s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          border-radius: 99999px;
          overflow: hidden;
          display: flex;
          padding: 8px;
          justify-content: center;
          cursor: pointer;
          border-radius: 0.2em;
          text-decoration: none;
          color: var(--main-element);
          &:hover {
            color: rgba(39, 29, 58, 0.5);
          }
        }
      }
      .nav-actions {
        position: absolute;
        bottom: 0;
      }
    }
  }
  @media screen and (max-width: 1280px) {
    position: relative;
    .logo-block {
      img {
        width: 30px;
        border-radius: 12px;
        margin: 0;
        position: relative;
        top: 3px;
      }
    }
    .nav-control {
      height: auto;
      flex-flow: row;
      display: flex;
      align-items: center;
      .routes-wrapper {
        width: unset;
        flex-flow: row;
        margin: 5px 8px;
        .nav-actions {
          right: 0;
          bottom: unset;
          display: flex;
        }
      }
    }
  }
}

.drawer-container {
  height: 100vh;
  padding: 0;
  position: absolute;
  background-color: transparent;
}

.drawer-side {
  width: 3.75rem;
  border: 0;
}

.drawer-content {
  padding: 0;
  margin: 0;
}

.toggle-button {
  display: inline-block;
  cursor: pointer;
  margin: 25px 15px;
}
