.nav-container {
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(209, 209, 214, 1);
  z-index: 888;
  width: 100%;
  .logo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2px;
    img {
      width: 2.5rem;
      border-radius: 0.6rem;
      margin: 0.6rem 0.42rem;
      pointer-events: none;
      @media screen and (max-width: 1280px) {
        width: 2rem;
      }
    }
  }
  .nav-control {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    .routes-wrapper {
      width: min-content;
      display: flex;
      flex-flow: column;
      width: 100%;
      margin-top: 18px;
      a {
        transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 0 10px 10px;
        text-align: center;
        text-decoration: none;
        color: rgba(39, 29, 58, 0.75);
        font-size: smaller;
        font-weight: 500;
        span {
          padding-left: 5px;
        }
        mat-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.3rem;
          @media screen and (max-width: 1280px) {
            padding-left: 0;
          }
        }
        &:hover {
          color: rgba(39, 29, 58, 0.5);
        }
        &.active {
          background-color: rgba(39, 29, 58, 0.076);
          font-weight: 900;
          color: #47356f;
          .mat-icon,
          .material-icons {
            color: #ff6482;
          }
        }
        @media screen and (max-width: 768px) {
          transform: scale(0.88);
          margin: 0;
        }
        @media screen and (max-width: 560px) {
          transform: scale(0.8);
        }
      }
      .nav-actions {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1280px) {
    position: relative;
    .logo-block {
      position: relative;
      left: 5px;
      top: 0;
    }
    .nav-control {
      height: auto;
      flex-flow: row;
      display: flex;
      align-items: center;
      .routes-wrapper {
        width: unset;
        flex-flow: row;
        margin: 5px 8px;
        a {
          padding: 4px;
          border-radius: 0.2em;
        }

        .nav-actions {
          right: 0;
          bottom: unset;
          display: flex;
          width: unset;
        }
      }
    }
  }
}

.drawer-container {
  height: 100vh;
  padding: 0;
  position: relative;
  background-color: transparent;
}

.drawer-side {
  width: 4rem;
  border: 0;
  flex: 1 1 auto;
}

.drawer-content {
  padding: 0;
  margin: 0;
}

.toggle-button {
  display: inline-block;
  cursor: pointer;
  margin: 15px 5px;
}
