<form [formGroup]="incomingEditForm" (submit)="formSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    @defer (when !incomingEditForm.controls.status ||
    !incomingEditForm.get('status')?.value) {
    <mat-select formControlName="status">
      @for (status of statuses(); track status) {
      <mat-option [value]="status">{{ status }}</mat-option>
      }
    </mat-select>
    } @placeholder {
    <input
      type="text"
      matInput
      formControlName="status"
      [value]="incomingEditForm.controls.status"
    />
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Company Name</mat-label>
    <input
      matInput
      formControlName="companyName"
      placeholder="Name of company you applied to?"
      [value]="incomingEditForm.controls.companyName"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Company Location</mat-label>
    <input
      type="text"
      matInput
      formControlName="companyLocation"
      (keyup)="onTypeCountry($event)"
      [value]="incomingEditForm.controls.companyLocation"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (country of filteredCountries(); track country) {
      <mat-option [value]="country.name.common">{{
        country.name.common
      }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input
      (keyup)="onTypeCity($event)"
      type="text"
      placeholder="Which City?"
      matInput
      formControlName="companyCity"
      [matAutocomplete]="auto"
      [value]="incomingEditForm.controls.companyCity"
    />
    <mat-autocomplete #auto="matAutocomplete">

      <!-- @for (city of currentCitiesList().data; track city) { -->
      <!-- <mat-option [value]="city.city | stringSanitizer"> -->
        <!-- {{ city.city | stringSanitizer }} -->
      <!-- </mat-option> -->
      <!-- } -->
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Position Type</mat-label>
    <mat-select formControlName="positionType">
      @for (positionType of positionTypes(); track positionType) {
      <mat-option [value]="positionType">{{ positionType }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Position Type</mat-label>
    @defer (when !incomingEditForm.controls.positionType ||
    !incomingEditForm.get('positionType')?.value) {
    <mat-select formControlName="positionType">
      @for (positionType of positionTypes(); track positionType) {
      <mat-option [value]="positionType">{{ positionType }}</mat-option>
      }
    </mat-select>
    } @placeholder {
    <input
      type="text"
      matInput
      formControlName="positionType"
      [value]="incomingEditForm.controls.positionType"
    />
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Position Stacks</mat-label>
    @defer (when !incomingEditForm.controls.positionStack ||
    !incomingEditForm.get('positionStack')?.value) {
    <mat-select multiple formControlName="positionStack">
      @for (positionStack of positionStacks(); track positionStack) {
      <mat-option [value]="positionStack">{{ positionStack }}</mat-option>
      }
    </mat-select>
    } @placeholder {
    <input
      type="text"
      matInput
      formControlName="positionStack"
      [value]="incomingEditForm.controls.positionStack"
    />
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Application Platform</mat-label>
    @defer (when !incomingEditForm.controls.applicationPlatform ||
    !incomingEditForm.get('applicationPlatform')?.value) {
    <mat-select multiple formControlName="applicationPlatform">
      @for (platform of applicationPlatform(); track platform) {
      <mat-option [value]="platform">{{ platform }}</mat-option>
      }
    </mat-select>
    } @placeholder {
    <input
      type="text"
      matInput
      formControlName="applicationPlatform"
      [value]="incomingEditForm.controls.applicationPlatform"
    />}
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date Applied</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="applicationDate"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>My Hunch</mat-label>
    <input matInput formControlName="hunch" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Any Notes?</mat-label>
    <input matInput formControlName="notes" />
  </mat-form-field>
</form>
