<form [formGroup]="incomingEditForm" (submit)="formSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    @defer (when !incomingEditForm.controls.status ||
    !incomingEditForm.get('status')?.value) {
    <mat-select formControlName="status" #statusSelect>
      @for (status of statuses(); track status) {
      <mat-option [value]="status">{{ status }}</mat-option>
      }
    </mat-select>
    } @placeholder {
    <input
      type="text"
      matInput
      formControlName="status"
      [value]="incomingEditForm.controls.status"
    />
    <div class="button-icon-div">
      <a type="button" (click)="editOption('status')" class="button-icon-field">
        <mat-icon>close</mat-icon>
      </a>
    </div>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Company Name</mat-label>
    <input
      matInput
      formControlName="companyName"
      placeholder="Name of company you applied to?"
      (keyup)="onTypeValue($event, FieldTypes.name)"
      [value]="incomingEditForm.controls.companyName"
      [matAutocomplete]="nameAutoComplete"
    />
    <mat-autocomplete #nameAutoComplete="matAutocomplete">
      @for (company of filteredCompanies(); track $index) {
      <mat-option [value]="company | stringSanitizer">
        {{ company | stringSanitizer }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Company Location</mat-label>
    <input
      (keyup)="onTypeValue($event, FieldTypes.location)"
      type="text"
      placeholder="Which City?"
      matInput
      (keyup)="onTypeValue($event, FieldTypes.location)"
      formControlName="companyLocation"
      [matAutocomplete]="locationAutoComplete"
    />
    <mat-autocomplete #locationAutoComplete="matAutocomplete">
      @for (city of filteredCities(); track city) {
      <mat-option [value]="city | stringSanitizer">
        {{ city | stringSanitizer }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Position Type</mat-label>
    @defer (when !incomingEditForm.controls.positionType ||
    !incomingEditForm.get('positionType')?.value) {
    <mat-select formControlName="positionType" #typeSelect>
      @for (positionType of positionTypes(); track positionType) {
      <mat-option [value]="positionType">{{ positionType }}</mat-option>
      }
    </mat-select>
    } @placeholder {
    <input
      type="text"
      matInput
      formControlName="positionType"
      [value]="incomingEditForm.controls.positionType"
    />
    <div class="button-icon-div">
      <a
        type="button"
        (click)="editOption('positionType')"
        class="button-icon-field"
      >
        <mat-icon>close</mat-icon>
      </a>
    </div>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Position Stacks</mat-label>
    @defer (when !incomingEditForm.controls.positionStack ||
    !incomingEditForm.get('positionStack')?.value) {
    <mat-select multiple formControlName="positionStack" #stackSelect>
      @for (positionStack of positionStacks(); track positionStack) {
      <mat-option [value]="positionStack">{{ positionStack }}</mat-option>
      }
    </mat-select>
    } @placeholder {
    <div class="edit-div">
      <input
        type="text"
        matInput
        formControlName="positionStack"
        [value]="incomingEditForm.controls.positionStack"
      />
      <div class="button-icon-div">
        <a
          type="button"
          (click)="editOption('positionStack')"
          class="button-icon-field"
        >
          <mat-icon>close</mat-icon>
        </a>
      </div>
    </div>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Application Platform</mat-label>
    @defer (when !incomingEditForm.controls.applicationPlatform ||
    !incomingEditForm.get('applicationPlatform')?.value) {
    <mat-select formControlName="applicationPlatform" #platformSelect>
      @for (platform of applicationPlatform(); track platform) {
      <mat-option [value]="platform">{{ platform }}</mat-option>
      }
    </mat-select>
    } @placeholder {
    <input
      type="text"
      matInput
      formControlName="applicationPlatform"
      [value]="incomingEditForm.controls.applicationPlatform"
    />
    <div class="button-icon-div">
      <a
        type="button"
        (click)="editOption('applicationPlatform')"
        class="button-icon-field"
      >
        <mat-icon>close</mat-icon>
      </a>
    </div>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date Applied</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="applicationDate"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>My Hunch</mat-label>
    <input matInput formControlName="hunch" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Any Notes?</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      formControlName="notes"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="3"
    ></textarea>
  </mat-form-field>
</form>
