<ng-container>
  <div class="dashboard-header-wrapper">
    <div class="dashboard-navigation">
      <app-inner-navigation
        [links]="innerLinks"
        (emitPath)="currentPath($event)"
      ></app-inner-navigation>
    </div>
    <div class="dashboard-filters">
      <app-filter
        [hidden]="isFilter()"
        (filterValue)="filterDataByDays($event)"
        [currentDayFilter]="filteredDays()"
        [isDataLength]="isData"
      ></app-filter>
    </div>
  </div>
</ng-container>
<ng-container>
  @if (!isUserData()) {
    <div class="dashboard-no-data">
      <div class="no-data-text">
        <h1>{{ noDataText.noDataTitleDashboard }}</h1>
        <p [innerText]="noDataText.noDataDashboard"></p>
        <button mat-button (click)="toActivity()">Add now</button>
      </div>
    </div>
  } @else {
    <div class="dashboard-components-container">
      <div class="dashboard-components-div" fader>
        <router-outlet></router-outlet>
      </div>
    </div>
  }
</ng-container>
