.dashboard-header-wrapper {
  position: relative;
  margin-top: 0;
  min-height: 80px;
  display: flex;
  z-index: 2;
  background-color: #f4f5f680;
  backdrop-filter: blur(3px);
  @media screen and (max-width: 1280px) {
    flex-flow: column;
    align-items: center;
  }
  .dashboard-navigation {
    margin-top: 25px;
    @media screen and (max-width: 1280px) {
      margin-top: 0;
    }
  }
  .dashboard-filters {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    @media screen and (max-width: 1280px) {
      width: 100%;
      margin-top: 0;
    }
  }
}

.dashboard-no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .no-data-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    h1,
    p,
    button {
      margin: 10px 0;
      text-align: center;
      color: var(--gray-400);
    }
    p {
      font-size: large;
      font-weight: 400;
    }
    button {
      display: flex;
      align-self: center;
      min-width: 6rem;
      color: var(--gray-700);
      background-color: var(--gray-blue);
      &:hover {
        color: var(--gray-blue);
        background-color: var(--gray-400);
      }
    }
  }
  @media screen and (max-width: 1280px) {
    height: 100vh;
  }
}
.dashboard-components-container {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 100%;
  overflow: auto;
  scroll-behavior: contain;
  @media screen and (max-width: 1280px) {
    position: relative;
  }
  @media screen and (max-width: 992px) {
    scroll-behavior: smooth;
    max-height: 700px;
  }
  @media screen and (max-height: 860px) {
   max-height: 480px;
 }
  .dashboard-components-div {
    width: 100%;
    max-height: 100%;
    scroll-behavior: contain;
    @media screen and (max-width: 1660px) {
      height: 100%;
      overflow: auto;
    }
    @media screen and (max-width: 1280px) {
      overflow: initial;
      max-height: 85vh;
    }
    @media screen and (max-width: 768px) {
      max-height: 82vh;
    }
  }
}
