.dashboard-filters {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.dashboard-no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .no-data-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    h1,
    p,
    button {
      margin: 10px 0;
      text-align: center;
      color: var(--gray-400);
    }
    p {
      font-size: large;
      font-weight: 400;
    }
    button {
      display: flex;
      align-self: center;
      min-width: 6rem;
      color: var(--gray-700);
      background-color: var(--gray-blue);
      &:hover {
        color: var(--gray-blue);
        background-color: var(--gray-400);
      }
    }
  }
  @media screen and (max-width: 1280px) {
    height: 100vh;
  }
}
.dashboard-components-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  @media screen and (max-width: 1280px) {
    overflow: auto;
    scroll-behavior: smooth;
  }
  .dashboard-components-wrapper {
    position: relative;
    width: 100%;
    max-height: 92vh;
    overflow: auto;
    scroll-behavior: contain;
    @media screen and (max-width: 1280px) {
      overflow: unset;
      max-height: 85vh;
    }
    @media screen and (max-width: 768px) {
      left: 0;
    }
  }
}
