.dashboard-components {
  display: flex;
  height: 100vh;
  .dashboard-sidbar {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 25px;
    z-index: 88888;
  }
  .dashboard-central-hub {
    height: 100%;
    width: 100%;
  }
  .dashboard-placeholder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    span {
      font-size: 1.8rem !important;
      .cv-counter-placeholder-cta {
        color: var(--watermelon);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
