<ng-container>
  <div class="dashboard-filters">
    <app-filter
      (filterValue)="filterDataByDays($event)"
      [currentDayFilter]="filteredDays()"
      [isDataLength]="isData"
    ></app-filter>
  </div>
</ng-container>
<ng-container>
  <div class="dashboard-components-container">
    <div class="dashboard-components-wrapper" fader>
      <div class="charts" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="onChartDrop($event)">
        @for (chart of chartOrder(); track chart) {
          <div class="chart-drag-item" cdkDrag>
            @switch (chart) {
              @case ("progress") {
                <app-progress-chart></app-progress-chart>
              }
              @case ("status") {
                <app-status-chart></app-status-chart>
              }
              @case ("market") {
                <app-market-chart></app-market-chart>
              }
            }
          </div>
        }
      </div>
    </div>
  </div>
</ng-container>
