<div class="chart-generic-container">
  @if (isChartsReady.isStatusChart()) {
  <div class="chart-data">
    <canvas baseChart
      [type]="statusChartOptions().type"
      [data]="statusChartOptions().data"
      [options]="statusChartOptions().options"
    ></canvas>
  </div>
  } @else {
  <div class="chart-no-data">
    <h3>No Data</h3>
  </div>
  }

  @if (tooltipState()) {
  <div class="status-tooltip"
    [style.left.px]="tooltipState()!.x"
    [style.top.px]="tooltipState()!.y">
    <div class="status-tooltip__header">
      <span class="status-tooltip__dot" [style.background]="tooltipState()!.color"></span>
      {{ tooltipState()!.status }} ({{ tooltipState()!.count }})
    </div>
    @for (company of tooltipState()!.companies; track company) {
      <div class="status-tooltip__company">{{ company }}</div>
    }
  </div>
  }
</div>
