.login-form-container {
  margin: auto;
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  form {
    :disabled {
      background-color: #0000003b;
      color: #0000001e;
    }
    @media screen and (max-width: 1280px) {
      width: 50%;
      @media screen and (max-width: 992px) {
        width: 65%;
        @media screen and (max-width: 768px) {
          width: 85%;
          @media screen and (max-width: 560px) {
            width: 100%;
          }
        }
      }
    }
    width: 33%;
  }
}
