<div class="forms-host">
  <section class="login-form-container">
    <form [formGroup]="loginForm" custom-mat-form (submit)="submitLogin()">
      <div class="form-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Enter your email"
          />
          @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>Email is required</mat-error>
          } @if (loginForm.get('email')?.hasError('email')) {
          <mat-error>Enter a valid email</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Enter your password"
          />
          @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>Password is required</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="buttons-div">
        <button mat-raised-button [disabled]="loginForm.invalid">Login</button>
        <button
          mat-raised-button
          (click)="toRegister()"
          class="to-register-button"
          appHover
        >
          {{ loginbuttonText }}
        </button>
      </div>
    </form>
  </section>
</div>

<!-- <div SnackBar #snackBarRef="SnackBar"></div> -->
@if (spinnerState) {
<app-spinner [isSpinner]="spinnerState" [isCredentialPage]="true"/>
}
