.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  .mat-mdc-progress-spinner {
    max-width: 4rem;
  }

  ::ng-deep {
    .mdc-circular-progress__indeterminate-circle-graphic {
      stroke: cyan !important; /* Set your color here */
    }
  }
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  background: #000000b1;
  backdrop-filter: blur(3px);
  position: absolute;
}
.non-credential-spinner {
  top: 125px;
}
.non-credential-overlay {
  top: 75px;
}
